<div class="new-session">
  <header>
    <BackButton />
    <h1>
      New Session
    </h1>
  </header>
  <main>
    <fieldset class="players">
      <legend>Players</legend>
      <ul class="ladder-players">
        {{#each this.ladderPlayersSelection as |player|}}
        <li class="ladder-player {{if player.selected "selected" }}">
          <label>
            <Input @type="checkbox" @checked={{player.selected}} />
            {{player.name}}
          </label>
        </li>
        {{/each}}
      </ul>
    </fieldset>
    <fieldset class="challengers">
      <legend>Challengers</legend>
      <ul class="challenger-players">
        {{#each this.challengers as |challenger|}}
        <li class="challenger-player" {{on 'click' (fn this.removeChallenger challenger)}}>
          <span>{{challenger}}</span>
          <button type="button" {{on 'click' (fn this.removeChallenger challenger)}}>×</button>
        </li>
        {{/each}}
      </ul>
      <form class="next-challenger" {{on 'submit' this.addChallenger}} autocomplete="off">
        <Input @type="text" @value={{this.nextChallenger}} placeholder="Challenger name" autocomplete="off" />
        <button type="submit">+</button>
      </form>
    </fieldset>
  </main>
  <footer>
    <form class="actions" {{on 'submit' this.createSession}}>
      <button type="submit">Fight!</button>
      <p class="session-players">
        {{#if this.sessionPlayerList}}
          Between {{ this.sessionPlayerList }}
        {{else}}
          &nbsp;
        {{/if}}
      </p>
    </form>
  </footer>
</div>
