<div class="new-session">
  <header>
    <BackButton />
    <h1>
      New Session
    </h1>
  </header>
  <main>
    <fieldset class="players">
      <legend><TypedText @text="Players" /></legend>
      <ul class="ladder-players">
        {{#each this.ladderPlayersSelection as |player|}}
        <li class="ladder-player {{if player.selected "selected" }}">
          <label>
            <Input @type="checkbox" @checked={{player.selected}} />
            <TypedText @text={{player.name}} />
          </label>
        </li>
        {{/each}}
      </ul>
    </fieldset>
    <fieldset class="challengers">
      <legend><TypedText @text="Challengers" /></legend>
      <ul class="challenger-players">
        {{#each this.challengers as |challenger|}}
        <li class="challenger-player">
          <label {{on 'click' (fn this.removeChallenger challenger)}}>
            <span>{{challenger}}</span>
            <button type="button" {{on 'click' (fn this.removeChallenger challenger)}}>×</button>
          </label>
        </li>
        {{/each}}
      </ul>
      <form class="next-challenger" {{on 'submit' this.addChallenger}} autocomplete="off">
        <Input @type="text" @value={{this.nextChallenger}} placeholder="Challenger name" autocomplete="off" {{typed-element}}/>
        <button type="submit" {{typed-element}}>+</button>
      </form>
    </fieldset>
    {{#if this.hasError}}
    <ErrorAlert @onAcknowledged={{this.getPastError}}>
      <TypedText @text={{this.error}} @delay={{100}} />
    </ErrorAlert>
    {{/if}}
  </main>
  <footer>
    <form class="actions" {{on 'submit' this.createSession}}>
      <button type="submit" disabled={{not this.readyToFight}}><TypedText @text="Fight!" /></button>
      <p class="session-players">
        {{#if this.sessionPlayerList}}
          Between {{ this.sessionPlayerList }}
        {{else}}
          &nbsp;
        {{/if}}
      </p>
    </form>
  </footer>
</div>
